[Service]
Environment=RABBIT_URL={{ rabbitmq_exporter.rabbitmq_url }}
Environment=PUBLISH_PORT=9419
{% if rabbitmq_exporter.rabbitmq_user != None %}
Environment=RABBIT_USER={{ rabbitmq_exporter.rabbitmq_user }}
{% endif %}
{% if rabbitmq_exporter.rabbitmq_password != None %}
Environment=RABBIT_PASSWORD={{ rabbitmq_exporter.rabbitmq_password }}
{% endif %}
{% if rabbitmq_exporter.ssl == True %}
Environment=CAFILE={{ rabbitmq_exporter.cafile }}
{% endif %}
